@import url("../css/main.css");

h3 {
  text-align: left;
}

#user-profile {
  width: 100%;
  margin-top: 160px;
}

.user-profile__wrapper {
  display: flex;
  border-bottom: 1px solid #d4d9e2;
  padding: 10px 0;
}

.user-profile__avatar {
  width: 10%;
  padding: 20px;
  min-width: 150px;
  min-height: 150px;
}

.user-profile__avatar img {
  width: 100%;
}

.user-profile__description {
  width: 80%;
}

#user-feeds-statistics .user-feeds {
  margin-right: 100px;
  width: 10%;
  min-width: 200px;
}

#user-feeds-statistics li {
  cursor: pointer;
  margin-bottom: 8px;
}

.user-stats__wrapper .stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-stats__wrapper .stats > div {
  flex: 1 1 auto;
  text-align: center;
}

.user-stats__wrapper .stats .stat-value {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.user-stats__wrapper .stats .stat-desc {
  font-size: 1.2em;
}

#user-feeds-statistics .user-feeds__wrapper {
  margin-top: 40px;
}

/* User Feeds */
#user-feeds-top {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

#user-feeds-top > div {
}

#user-feeds-top .user-feeds {
  padding: 0;
  margin: 0 20px;
  width: 10%;
  min-width: 200px;
}

#user-feeds-top .user-feeds h3 {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #d4d9e2;
}

#user-feeds-top .user-feeds__wrapper {
  padding: 0;
  margin: 0;
  width: 90%;
}

#user-feeds-top .user-feeds__wrapper h3 {
  border-bottom: 1px solid #d4d9e2;
  width: 100%;
  padding: 0;
  margin: 0;
}

.user-profile__wrapper-small {
  border-bottom: none;
}

.user-profile__wrapper-small .user-profile__avatar {
  width: 8%;
  padding: 20px;
  min-width: 70px;
  min-height: 70px;
}

.user-profile__wrapper .user-profile__extra {
  text-transform: capitalize;
}

.user-profile__wrapper .date-asked {
  font-weight: 700;
}

.question-card {
  border-bottom: #d4d9e2 1px solid;
  padding: 10px;
  cursor: pointer;
}

.question-card .questions-actions__wrapper {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.question-card .questions-actions__wrapper button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: transparent;
  cursor: pointer;
}

.question-card .questions-actions__wrapper img {
  width: 100%;
  height: 100%;
}

.cards .see-more__btn {
  display: block;
  margin: 50px auto;
  width: 30%;
  min-width: 300px;
}

/* Meetups List */
.meetups-list {
}

.meetups-list li.active {
  background: #d4d9e2;
}

@media (max-width: 768px) {
  .user-stats__wrapper .stats {
    flex-direction: column;
    justify-content: center;
  }

  #user-feeds-top .user-feeds {
    width: 5%;
    min-width: 150px;
  }

  .user-stats__wrapper .stats .stat-value {
    font-size: 1.8rem;
  }

  .user-stats__wrapper .stats .stat-desc {
    font-size: 1rem;
  }
}
