nav.q-left-nav {
    float: left;
    margin-left: 10px;
    border-left: 1px solid grey;
    padding: 0 10px;
}

nav.q-left-nav a {
    text-transform: capitalize;
    margin-top: 5px;
}

nav.q-right-nav {
    margin-top: 30px;
}


nav.q-right-nav .sign-in {
    border: 1px solid #ffcb9a;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

nav.q-right-nav .sign-in:hover {
    background-color: #ffcb9a;
    color: #116466;
}

nav.q-right-nav .sign-in a:hover {
    color: #116466;
}

nav.q-right-nav .sign-up {
    border: none;
    background: #ffcb9a;
    padding: 0.5rem;
    color: #116466;
    border-radius: 5px;
    text-align: center;
}

nav.q-right-nav .sign-up a {
    color: #116466;
}

nav.q-right-nav .sign-up:hover {
    background:transparent;
    border: 1px solid #ffcb9a;
    color: #ffcb9a;
}

nav.q-right-nav .sign-up a:hover {
    color: #ffcb9a;
}


section {
  margin-bottom: 50px;
}

#q-showcase {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/showcase2.jpg") center/cover no-repeat;
  min-height: 350px;
  margin-top: 100px;
}

#q-showcase h2 {
  padding: 0;
  display: inline-block;
  width: 100%;
  margin: calc(350px / 2 - 20px) auto 0 auto;
  text-align: center;
}

#q-showcase h2,
#q-showcase button {
    color: #ffffff;
    outline: none;
}

#q-showcase button {
    background-color: #116466;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    width: 20%;
    cursor: pointer;
    transition: background-color .3s;
}

#q-showcase button:hover {
    background: #07504c;
}

#q-showcase button:active {
    background: #116466;
}

#q-showcase button {
  display: block;
  margin: 10px auto;
}

.cards {
  display: flex;
  width: 90%;
  margin: 10px auto;
}

.cards .q-card {
  width: calc(90% / 3 - 10px);
  height: 250px;
  border: 1px solid #333;
  margin: 0 10px;
  border-radius: 2px;
}

.cards .q-card__no-border {
  border: none;
}

.q-card__no-border img {
  width: 25%;
  display: block;
  margin: 0 auto 20px;
}
