/* Base css stylesheet
   Contains global styles, common to every page
*/
@import url("https://fonts.googleapis.com/css?family=Aleo|Marck+Script|Roboto");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font: 15px/1.5 Roboto, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  color: #555;
  overflow: auto;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Global */
h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #555;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

section {
  margin-bottom: 40px;
}

.mt-200 {
  margin-bottom: 200px;
}

#get-started .get-started-msg {
  font-size: 2.5em;
}

.q-btn {
  background-color: #116466;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

.q-btn:hover {
  background-color: #07504c;
}

.q-flex {
  display: flex;
}

.q-flex-item {
  flex: 1 1 auto;
}

.white {
  color: #fff;
}

.fg-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.fg-dark-forest-green {
  color: #07504c;
}

.bg-dark-forest-green {
  background-color: #07504c;
}

.fg-light-forest-green {
  color: #116466;
}

.bg-light-forest-green {
  color: #116466;
}

.p-cursor {
  cursor: pointer;
}

.text__large {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.text__small {
  font-size: 0.5em;
}

.btn-large__40 {
  width: 40%;
}

.btn__rounded {
  border-radius: 3px;
}

.btn__centered {
  display: block;
  margin: 0 auto;
}

/* App Main Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: #116466;
  box-shadow: 2px 2px 5px #777;
  z-index: 1000;
}

/* Main Navbar styling */
header .header-content {
  display: flex;
}

header #q-branding a:link {
  color: #ffffff;
}

header #q-branding a:hover {
  color: #ffcb9a;
}

header #q-branding a:visited {
  color: #ffffff;
}

header #q-branding .q-logo {
  padding: 0;
  margin-top: 20px;
  font-family: "Marck Script", cursive;
}

header nav {
  margin-top: 28px;
  position: relative;
}

header nav li {
  display: inline-block;
  margin-left: 2px;
  font-weight: 600;
}

header nav span {
  color: #fff;
}

header nav a {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.2s;
  font-weight: 600;
}

header nav a:link {
  color: #fff;
}

header nav a:hover {
  color: #ffcb9a;
}

/* App Logo */
header .q-logo {
}

header .q-logo-w-border::after {
  content: "|";
  padding: 0 20px;
  color: #07504c;
  font-family: Roboto, sans-serif;
}

/* Left Nav */
.q-left-nav {
  flex: 1 1 100%;
}

.q-left-nav li {
  margin-right: 10px;
}

.q-left-nav a {
  text-transform: uppercase;
  margin-top: 5px;
}

/* Right Nav */
.q-right-nav {
  width: 100%;
}

.q-right-nav > ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 10px;
}

.q-right-nav > ul > span {
  margin-right: 5px;
}

.notify-user__nav button {
  width: 35px;
  height: 35px;
}

.notify-user__nav button img {
  width: 100%;
}

/* Mobile Menu */

/* Custom Menu Trigger Button */
#mobile-nav-sidebar__wrapper {
  position: fixed;
  top: 10px;
  right: 0;
  display: none;
  z-index: 999999;
  padding: 1em;
  cursor: pointer;
}

#mobile-nav-sidebar__wrapper > div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: all 0.4s;
}

.change .menu-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menu-bar2 {
  opacity: 0;
}

.change .menu-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px -8px);
}

/* Mobile Nav Menu */
#mobile-nav-menu__wrapper .sidebar-menu__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  background: #116466;
  display: none;
  transition: display 0.2s;
  width: 100%;
  color: black;
  z-index: 99999;
}

#mobile-nav-menu__wrapper .nav-menu-show {
  display: block;
}

#mobile-nav-menu__wrapper .sidebar-menu__wrapper nav {
  width: 100%;
}

/* Mobile Nav Menu Item */

#mobile-nav-menu__wrapper .sidebar-menu__wrapper .q-sidenav__menu li {
  display: block;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
  padding: 20px 10px;
  text-align: center;
}

#mobile-nav-menu__wrapper
  .sidebar-menu__wrapper
  .q-sidenav__menu
  li:last-child {
  border-bottom: 0;
}

#mobile-nav-menu__wrapper
  .sidebar-menu__wrapper
  .q-sidenav__menu
  li:first-of-type {
  padding-top: 80px;
}

.sidebar-menu__wrapper .q-sidenav__menu a {
  color: #fff;
}

/* Footer */
footer {
  width: 100%;
  padding: 10px 24px;
  background: #fafafa;
  text-align: center;
  font-size: 0.8em;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer > * {
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

footer .footer-content {
  display: flex;
  width: 100%;
}

footer .copyright {
  margin: 0;
  padding: 0;
  color: #777;
  flex: 1 0 25%;
  text-align: left;
}

footer .footer-sec__links {
  flex: 1 1 50%;
}

footer .footer-sec__links li {
  padding: 0 1rem;
}

footer .footer-sec__links a {
  color: #777;
}

footer .footer-sec__links a:hover {
  color: #555;
}

footer .footer-sec__social-media {
  margin: 0;
  color: #777;
  flex: 1 1 25%;
}

footer .footer-sec__social-media li {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.align-center {
  text-align: center;
}

.social-media__links li a {
  width: 100%;
  display: flex !important;
}

.social-media__links li img {
  display: block;
  width: 30px;
  height: 30px;
}

.social-media__links li span {
  display: block;
  flex: 2 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .q-right-nav {
    display: none;
  }

  .q-left-nav {
    display: none;
  }

  header .q-logo-w-border::after {
    content: "";
  }

  #get-started .get-started-msg {
    font-size: 2em;
  }

  #mobile-nav-sidebar__wrapper {
    display: block;
  }

  footer .footer-content {
    display: block;
  }

  footer .copyright {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #mobile-nav-menu__wrapper .sidebar-menu__wrapper {
    display: none;
  }
}
