h3 {
  text-align: left;
}

#q-meetup-details__main {
  margin-top: 200px;
  width: 100%;
  color: black;
}

#q-meetup-details__main .details-content {
  position: relative;
}

#q-meetup-details__main .details-content span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #116466;
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}

#q-meetup-details__main .meetup-title-host {
  margin-left: 100px;
}

#q-meetup-details__main .meetup-title-host h3 {
  font-size: 2rem;
}

#q-meetup-details__main .meetup-title-host p {
  position: relative;
  top: -30px;
  left: 0;
  text-transform: capitalize;
}


#q-meetups-preview {
  
}

#q-meetups-preview .q-meetups-preview__block {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#q-meetups-preview .q-meetups-preview__block > div {
  padding: 10px;
}

@media (max-width: 768px) {
  #q-meetups-preview .q-meetups-preview__block {
    flex-direction: column;
  }
}

#q-meetups-preview .q-meetups-preview__block .image-preview {
  flex: 1 1 50%;
}

.q-meetups-preview__block .image-preview {
  position: relative;
  margin-right: 30px;
}

.q-meetups-preview__block .image-preview img {
  width: 100%;
  max-height: 400px;
}

#q-meetups-preview .q-meetups-preview__block .meetup-details {
  flex: 1 1 25%;
}

/* Question cards */
.q-question-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.q-question-cards .question-card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;
  flex: 1 1 auto;
  margin-bottom: 20px;
}

.q-question-cards .question-card p {
  font-weight: 400;
  /* text-align: center; */
  /* letter-spacing: .1rem; */
}

.q-question-cards .question-card .question-card__img {
}

.q-question-cards .question-card img {
  width: 50px;
  height: 50px;
}

.q-question-cards .question-card span {
  float: right;
  font-weight: 600;
}

.q-question-cards .question-text {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;
}

.question-text-block {
  /* display: flex; */
  min-height: 160px;
  border-bottom: 1px solid #cccccc;
}

.question-icons {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding: 10px;
}


.question-icons .question-icons__left {
  
}

.question-icons .question-icons__left img, .question-icons .question-icons__right img  {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.question-icons .question-icons__right {
 
}

.question-block {
  border: 1px solid #cccccc;
  background: white;
}

.question-block .comment-box {
  margin: 10px auto;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.comment-box .question-card__img {
  display: flex;
}

.comment-box .question-card__img img {
  margin-right: 10px;
}

.question-block .comment-box form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
}

.comment-box form input {
  padding: 0.5rem;
  flex: 1 1 auto;
  outline: 0;
}

.comment-box form button {
  padding: 0.5rem;
  margin-left: 10px;
  flex: 0;
  background-color: #116466;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.comment-box form button:hover {
  background: #116460;
}

