/* Stylings for meetups list page */

@import "../css/main.css";
@import "../css/home.css";

.q-btn {
  border: none;
  background: none;
  outline: none;
}

.notify-user__nav button {
  width: 35px;
  height: 35px;
}

.notify-user__nav button img {
  width: 100%;
}

/* Search Bar for meetups */
#q-search {
  margin: 200px 0px 30px 140px;
}

@media(max-width: 768px) {
  #q-search {
    margin-left: 0;
  }
}

.q-search__nav li {
  display: inline-block;
  padding: 1rem 0;
}

.q-search__nav li a {
  padding: 1rem;
  color: #116466;
}

.q-search__nav li img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.q-search__nav input[type="search"] {
  background: transparent;
  margin-left: -15px;
  display: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
  padding: 1rem 0;
  box-sizing: content-box;
  color: #333333;
  width: 0;
  transition: width .5s;
}

.show {
  width: 300px !important;
  display: inline-block !important;
}

@media(max-width: 768px) {
  .show {
    width: 200px !important;
  }
}

.cards .q-card {
  border: 1px solid #116466;
}

/* Cards main content */
.q-card .q-card__primary {
  width: 100%;
  height: 230px;
  border-bottom: 1px solid #116466;
}

.q-card .q-card__primary .content {
  max-width: 100%;
  position: relative;
}

.q-card__primary .content img {
  width: 100%;
  height: 230px;
}

.q-card__primary .content img:hover {
  opacity: 0.975;
}

.q-card__primary .content .q-asked-count {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

.q-card .q-card__sec {
  padding: 5px 0;
}

.q-card .q-card__sec p {
  margin: 0 10px;
  padding: 0;
  color: #116466;
}

.q-card .q-card__sec .meetup-title {
  font-size: 1.4rem;
}

.q-card .q-card__sec .meetup-sched-date {
  color: #333333;
  padding: 0;
}

/* User Profile dropdown */
nav.no-flex {
  width: 100%;
}

.q-user-profile__dropdown-menu {
  display: none;
  position: absolute;
  color: #ffffff;
  width: 200px;
  background: #488485;
  top: 70px;
  right: 200px;
  z-index: 100000;
}

.q-user-profile__dropdown-menu li {
  display: block;
  border-bottom: 1px solid #aaaaaa;
  padding: 0.7rem;
}

.q-user-profile__dropdown-menu a {
  color: #ffffff;
  text-transform: capitalize;
}

.q-user-profile__dropdown-menu a:hover {
  color: #ffcb9a;
}

.q-right-nav .dropdown-trigger-btn {
  cursor: pointer;
}


#q-meetups-preview .share-media-links span {
  display: inline-block;
  padding: 0;
  margin: 10px 0;
}

#q-meetups-preview .share-title {
  font-weight: bold;
  font-size: 1.2rem;
}

#q-meetups-preview .share-media-links span img {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}


#q-meetups-preview .meetup-location-map__preview {
  height: 300px;
  width: 100%;
}
