/* Stylesheet for new meetup page(using flex) - (main) */

#q-new-meetup {
  margin-bottom: 200px;
}

#q-new-meetup .wrapper {
  margin-top: 150px;
  width: 100%;
  background: #fff;
  display: flex;
  height: 100%;
  padding: 0 0 60px 0;
}

#q-new-meetup .wrapper > div {
  height: 100vh;
}

#q-new-meetup .wrapper h3 {
  font-size: 2rem;
  text-align: center;
}

#q-new-meetup .wrapper .new-feature-content {
  flex: 0 0 35%;
}

.new-feature-content .feature-content__primary {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#q-new-meetup .wrapper .new-main-content {
  flex: 2 1 auto;
  padding: 20px;
}

#q-new-meetup .wrapper .new-main-content h3 {
  text-align: center;
  font-size: 2rem;
}

.upload-image-preview {
  width: 100%;
  height: 100%;
}

.image-upload-btns {
  margin-top: 10px;
  margin-bottom: 60px;
  height: 0;
  display: none;
  transition: height 0.3s;
}

.image-upload-btns > button {
  margin-right: 20px;
  background: #116466;
  text-transform: uppercase;
  font-weight: bold;
}

.image-upload-btns > button:nth-child(2) {
  background: #f44;
}

.image-upload-btns-show {
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  #q-new-meetup .wrapper {
    flex-direction: column;
  }

  #q-new-meetup .wrapper .new-feature-content {
    display: none;
  }

  header .header-content {
    justify-content: center;
  }
}