#q-meetup-intro-board {
  box-sizing: border-box;
}

#q-meetup-intro-board .board_main {
  width: 100%;
  border: 0;
}

#q-meetup-intro-board .board_main .intro-message {
  height: 100vh;
  color: #cccccc;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/img/showcase2.jpg") center/cover no-repeat;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#q-meetup-intro-board .board_main .intro-message h3 {
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
}

#q-meetup-intro-board .board_main .intro-message .q-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#q-meetup-intro-board .board_main .meetup-form {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board_main .meetup-form form {
  margin-bottom: 200px;
}

.board_main .meetup-form h3 {
  color: #596377;
  font-size: 2rem;
}

.outer-upload__block {
  width: 100%;
  border: 1px solid #d4d9e2;
  background: #fff;
}

.q-form__image-upload {
  width: 100%;
}

.outer-upload__block .q-form__image-upload {
  display: none;
}

.outer-upload__block .inner-upload__block {
  width: 95%;
  border-radius: 5px;
  border: 1px dashed #596377;
  height: 200px;
  background-color: #fff;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}

.inner-upload__block .q-form__label {
  margin-top: 85px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@supports (display: grid) {
  #q-meetup-intro-board .board_main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 50px; */
  }
}
