.modal {
  display: none;
}

.modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  /* bottom: 0; */
  z-index: 10000;
  overflow: auto;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  width: 100%;
}

.modal .modal-dialog {
  position: relative;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  max-width: auto;
  cursor: default;
  /* border-radius: 4px; */
  width: 100%;
  margin: 0 auto;
}

.modal .modal-dialog::after {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

.modal-dialog .modal-content-card {
  margin: 0 auto;
  max-width: 500px;
  height: auto;
  border: #cccccc 1px solid;
  border-radius: 2px;
  background: #f0f0f0;
  padding: 1rem;
}

.modal-dialog .modal-content-card h3 {
  width: 100%;
  border-bottom: #cccccc 1px solid;
  padding: 1rem 0;
}


.modal-dialog .modal-content-card textarea {
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  height: 100px;
  padding: 1rem;
  max-height: 200px;
  outline: none;
  border: 1px solid #cccccc;
}

.modal-content-card .post-comment-btn-box, .modal-content-card .post-question-btn-box {
  width: 100%;
  text-align: right;
}

.modal-dialog .modal-content-card .close-modal-btn {
  position: relative;
  left: 40%;
  top: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: none;
}

.modal-content-card .close-modal-btn img {
  width: 100%;
  height: 100%;
}

.modal-dialog .modal-content-card .post-comment-btn {
  background-color: #116466;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0.8em;
  width: 20%;
  cursor: pointer;
}

.post-comment-btn {
  background-color: #116466;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0.8em;
  width: 20%;
  cursor: pointer;
}

.enabled {
  display: block;
}

.disabled {
  display: none;
}