@import url("../css/main.css");
@import url("../css/form.css");

#reset-password {
  width: 500px;
  margin: 100px auto;
  padding: 10px;
}

h1 {
  font-size: 3rem;
  font-family: 'Marck Script', serif;
}

h2 {
  font-size: 2.5rem;
}

#reset-password h1, #reset-password h2 {
  text-align: center;
}

#reset-password a {
  display: block;
  text-align: center;
  color: #116466;
  padding: 10px;
}

#reset-password a:hover {
  color: #07504c;
  text-decoration: underline;
}

@media(max-width: 768px) {

  #reset-password {
    width: 90%;
  }
  
  #reset-password form button {
    width: 100%;
    padding: 0;
  }
}