@import url("../css/main.css");
@import url("../css/form.css");

.welcome-back-msg {
  text-align: center;
  font-size: 1.5rem;
  color: #116466;
}

.sign-up__link {
  display: none;
  text-align: center;
}

.sign-up__link a {
  color: #116466;
}

.sign-up__link a:hover {
  color: #07504c;
  text-decoration: underline;
}

@media (max-width: 768px) {
  header .header-content {
    justify-content: center;
  }

  .sign-up__link {
    display: block;
  }
}